## Import Statements

In [1]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Extracting data using API endpoints

### Data.gov.in api allows only 10 records at a time
   #### Hence we are using a for loop to add all the data into a list and then into DataFrame df

In [2]:
data_list=[]
for i in range(0,100,10):
    params= {'api-key':'579b464db66ec23bdd000001cdd3946e44ce4aad7209ff7b23ac571b', 'format':'json', 'limit': 100, 'offset': i}
    response = requests.get('https://api.data.gov.in/resource/e1c37ff8-df5a-43b8-bca2-f77ba6d2ac58',params=params)
    data = response.json()
    data_list.extend(data['records'])

In [20]:
df =pd.DataFrame( data_list)

In [21]:
df

,sector_name,amount_in_rs,amount_in_usd,unit,from_date,to_date
0,METALLURGICAL INDUSTRIES,938921.30,16010.22,MILLION,2000-04-01T17:19:35Z,2021-06-30T17:19:35Z
1,MINING,176263.83,3001.52,MILLION,2000-04-01T17:19:35Z,2021-06-30T17:19:35Z
2,POWER,855195.81,15368.62,MILLION,2000-04-01T17:19:35Z,2021-06-30T17:19:35Z
3,NON-CONVENTIONAL ENERGY,649982.68,10279.81,MILLION,2000-04-01T17:19:35Z,2021-06-30T17:19:35Z
4,COAL PRODUCTION,1191.89,27.73,MILLION,2000-04-01T17:19:35Z,2021-06-30T17:19:35Z
...,...,...,...,...,...,...
58,COIR,220.50,4.07,MILLION,2000-04-01T17:19:36Z,2021-06-30T17:19:36Z
59,CONSTRUCTION (INFRASTRUCTURE) ACTIVITIES,1714999.93,25381.89,MILLION,2000-04-01T17:19:36Z,2021-06-30T17:19:36Z
60,"CONSTRUCTION DEVELOPMENT: Townships, housing, ...",1275189.68,26143.67,MILLION,2000-04-01T17:19:36Z,2021-06-30T17:19:36Z
61,MISCELLANEOUS INDUSTRIES,681417.33,12682.29,MILLION,2000-04-01T17:19:36Z,2021-06-30T17:19:36Z
62,CONSULTANCY SERVICES,419161.74,6816.73,MILLION,2000-04-01T17:19:36Z,2021-06-30T17:19:36Z

### Data cleaning and Exploration

In [ ]:
df['from_date'] = pd.to_datetime(df['from_date']).dt.date
df['to_date'] = pd.to_datetime(df['to_date']).dt.date

In [5]:
df.isna().any()

sector_name      False
amount_in_rs     False
amount_in_usd    False
unit             False
from_date        False
to_date          False
dtype: bool

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   sector_name    63 non-null     object
 1   amount_in_rs   63 non-null     float64
 2   amount_in_usd  63 non-null     float64
 3   unit           63 non-null     object
 4   from_date      63 non-null     object
 5   to_date        63 non-null     object
dtypes: float64(2), object(4)
memory usage: 3.1+ KB

In [7]:
df.describe()

       amount_in_rs  amount_in_usd
count  6.300000e+01      63.000000
mean   5.244126e+05    8685.713016
std    9.819541e+05   15922.388833
min    2.205000e+02       4.070000
25%    3.548252e+04     611.410000
50%    1.762638e+05    3001.520000
75%    6.091575e+05    9936.400000
max    5.232719e+06   88956.020000